div{
    font-size: large;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(200,200,200)

}
.banner {
    background-color: #336699;
    color: white;
    text-align: center;
    padding: 10px;
}

.banner-button {
    background-color: #fff;
    color: #336699;
    padding: 5px 15px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}